* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  list-style: none;
}

.accordion {
  margin: 2rem auto 2rem auto;
  width: 50%;
  text-align: center;
  border-radius: 0.3rem;
  overflow: hidden;
}
.accordion > h1 {
  padding: 0.5rem;
  font-size: 2rem;
  font-weight: 600;
  background-color: red;
}
.accordion > p {
  font-size: 1.5rem;
  height: 0;
  overflow: hidden;
  background-color: rgb(239, 94, 94);
}

.button-container {
  width: 40%;
  display: flex;
  margin: 1rem auto 0 auto;
  justify-content: space-around;
}
.button-container > .accordion-button {
  background-color: white;
  padding: 0.5rem;
  border: solid rgb(224, 224, 224) 1px;
  border-radius: 0.3rem;
  transition: 400ms;
}
.button-container > .accordion-button:hover {
  scale: 1.1;
}
.button-container > .optionSelected {
  background-color: rgb(157, 240, 157);
}

.selected > p {
  font-size: 1.5rem;
  height: 100%;
  padding: 1rem;
  overflow: hidden;
}

.randomColor-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  text-align: center;
}
.randomColor-container > h1 {
  color: white;
  display: flex;
  margin: auto;
  font-size: 3rem;
}
.randomColor-container > h2 {
  color: white;
  display: flex;
  margin: auto;
  font-size: 6rem;
}

.randomColor-button_container {
  margin: 0 auto 0 auto;
}

.staringRate-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3rem auto 3rem auto;
}
.staringRate-container > h1 {
  font-size: 3rem;
  margin: 0 0 2rem 0;
}

.starContainer {
  display: flex;
}

.stars {
  transition: 1s;
}

.active {
  color: #fff700;
  transform: rotate(360deg);
}

.inactive {
  color: #000000;
}

.image-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 600px;
  height: 450px;
}

.current-image {
  border-radius: 0.5rem;
  box-shadow: 0px 0px 7px #666;
  width: 100%;
  height: 100%;
}

.hidden-image {
  display: none;
}

.arrow {
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  color: rgb(228, 228, 228);
  margin: 0.2rem;
  cursor: pointer;
}

.arrow-right {
  right: 1rem;
}

.arrow-left {
  left: 1rem;
}

.circle-indicators {
  position: absolute;
  bottom: 1rem;
  width: 40%;
  display: flex;
  justify-content: space-around;
}
.circle-indicators > button {
  width: 1rem;
  height: 1rem;
  border: solid rgb(141, 141, 141) 1px;
  border-radius: 1rem;
  cursor: pointer;
}

.active-indicator {
  background-color: rgb(103, 103, 103);
}

.products-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.products {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid black 2px;
}

.moreData-container {
  display: flex;
  flex-direction: column;
}
.moreData-container > button {
  margin: auto;
}

.item-title {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

ul > li {
  margin-left: 2rem;
}

.qr-code-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.qr-code-placeholder {
  width: 200px;
  height: 200px;
  border: solid black 1px;
  display: flex;
  text-align: center;
  align-items: center;
}

#qr-code-value {
  border: solid black 1px;
}

:root {
  --background: #ffffff;
  --text-primary: #000;
  --button-bg: #000;
  --button-text: #ffffff ;
}

[data-theme=dark] {
  --background: #000;
  --text-primary: #ffffff;
  --button-bg: #ffffff;
  --button-text: #000 ;
}

.darkMode-container {
  transition: all 0.5s;
  background-color: var(--background);
  color: var(--text-primary);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.darkMode-hello-container {
  display: flex;
  flex-direction: column;
}
.darkMode-hello-container > h1 {
  font-size: 2rem;
}

.darkMode-toggle-button {
  transition: all 0.5s;
  background-color: var(--button-bg);
  color: var(--button-text);
  margin-top: 1rem;
  padding: 0.2rem;
  border: none;
  border-radius: 0.3rem;
}

:root {
  --scroll-position: 0 ;
}

.scroll-indicator-bar {
  position: fixed;
  background-color: blue;
  display: flex;
  flex-direction: column;
  top: 0;
  right: 0;
  left: 0;
  height: 5rem;
}
.scroll-indicator-bar > h1 {
  font-size: 3rem;
  text-align: center;
}
.scroll-indicator-bar > span {
  height: 0.5rem;
  background-color: red;
}
.scroll-indicator-bar > span::before {
  content: "";
  display: block;
  background-color: black;
  height: 0.5rem;
  width: calc(var(--scroll-position) * 1%);
}

.scroll-indicator-item-container {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1rem;
  background-color: red;
}/*# sourceMappingURL=App.css.map */